* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  color: #fff;
  background: #081b29;
}
.sub-title {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.sub-title span {
  color: #0ef;
}
.main2{
  height: 100vh;
}
section{
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 90vh;
}
.container1{
  width: 500px;
  height: 85vh;
  padding: 20px 30px;
  /* margin-left: 120px; */
}
.heading1 {
  height: 50px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  margin-bottom: 10px;
}
.technical-bars {
  padding: 10px 10px;
}
.bar {
  font-size: 23px;
}
.technical-bars .bar {
  margin: 25px 0;
}
.technical-bars .bar:first-child {
  margin-top: 0;
}
.technical-bars .bar:last-child {
  margin-bottom: 0;
}
.technical-bars .bar .info {
  margin-bottom: 5px;
}
.technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html span {
  width: 90%;
}
.progress-line.css span {
  width: 80%;
}
.progress-line.javascript span {
  width: 75%;
}
.progress-line.python span {
  width: 70%;
}
.progress-line.mysql span {
  width: 50%;
}
.progress-line.django span {
  width: 40%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -20px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "80%";
}
.progress-line.javascript span::after {
  content: "75%";
}
.progress-line.python span::after {
  content: "70%";
}
.progress-line.mysql span::after {
  content: "50%";
}
.progress-line.django span::after {
  content: "40%";
}
.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
/* ****************************************** */
/* section {
  /* border: 3px solid red; 
} */
/* .container1 {
  /* border: 3px solid rgb(0, 255, 60); 
} */
/* .technical-bars {
  /* border: 3px solid rgb(0, 213, 255); 
} */
/* h1 {
  /* border: 3px solid rgb(255, 0, 217); 
} */
.container2{
    /* border: 3px solid greenyellow; */
    height: 85vh;
    width: 500px;
}
.container2 img{
    height: 100%;
    width: 100%;
}